.home{
    display: flex;
    margin: 20px;
    align-items: center;
}
.personalDetails{
    display: block;
    max-width: 50%;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    min-height: 100%;
    padding: 1%;
}
.mainPicture{
    display: block;
    max-width: 50%;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}
.aboutMe{
    margin: 5%;
    background-color: rgba(0, 0, 0, 0.185);
    border-radius: 20px;
    padding: 2%;
}
.projects{
    margin: 5%;
    background-color: rgba(0, 0, 0, 0.185);
    border-radius: 20px;
    padding: 1%;

}
.experience{
    margin: 5%;
    background-color: rgba(0, 0, 0, 0.185);
    border-radius: 20px;
    padding: 1%;

}
.location{
    display: flex;
    
}
.locationIcon{
    width: 5%;
    margin-left: auto;
    
    margin-top: auto;
    margin-bottom: auto;
}
.locationText{
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.test{
    height: 100%;
    text-align: center;
}
.loadingPage{
    
    padding-top: 20%;
}
.loadingImage{
    
    width: 30%;
    animation: spin-anim 2s linear infinite;
    
}
@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.experienceList{
    text-align: left;
    margin: 5%;
}
