.navbar { 
    width: auto;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    text-decoration: none;
    z-index: 20;
}
  .nav-container {
    margin: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    max-width: 1500px;
    padding: 2px;
    position: relative;
    z-index: 20;
    
    
  }
  a{
    color: rgb(227, 224, 224);
    text-decoration: none;
  }
  
  .nav-container:hover{
    opacity: 0.5;
    border-radius: 5px;
    padding: 2px;
  }
  