.app{
    height: 100vh;
    z-index: 0;
    background-color: #101226;
    color: rgb(175, 174, 174);
    overflow: hidden;
    height: 100vh;
    
}
.glow {
    position: absolute;
    width: 250px;
    height: 250px;
    opacity: 1;
    border-radius: 50%;
    pointer-events: none; /* Allows mouse events to pass through the element */
    z-index: 10;
    background: radial-gradient(#21275b,  #101226 60%);
    
  }