
@font-face{
  font-family: "Rajdhani";
  src: url("./fonts/KdamThmorPro-Regular.ttf") format("truetype");
}
@font-face{
  font-family: "Fjalla";
  src: url("./fonts/FjallaOne-Regular.ttf") format("truetype");
}



