
@font-face{
  font-family: "Rajdhani";
  src: url("./fonts/KdamThmorPro-Regular.ttf") format("truetype");
}
@font-face{
  font-family: "Fjalla";
  src: url("./fonts/FjallaOne-Regular.ttf") format("truetype");
}
body {
  font-family: "Rajdhani", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}




